@model TCC_ACE.Paciente

@{
    ViewBag.Title = "Cadastro de paciente";
}


<div class="row">
    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->
        <div class="widget-box">
            <div class="widget-header header-color-blue">
                <h4>Paciente</h4>
            </div>

            <div class="widget-body">
                <div class="widget-main">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)

                        <div id="faq-list-1" class="panel-group accordion-style1 accordion-style2">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <a href="#faq-1-1" data-parent="#faq-list-1" data-toggle="collapse" class="accordion-toggle collapsed">
                                        <i class="icon-chevron-left pull-right" data-icon-hide="icon-chevron-down" data-icon-show="icon-chevron-left"></i>

                                        <i class="icon-user bigger-130"></i>
                                        Dados Pessoais
                                    </a>
                                </div>
                                <div class="panel-collapse in collapse" id="faq-1-1">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Prontuario, new { @class = "control-label" })
                                                    <div class="controls">
                                                        @Html.EditorFor(model => model.Prontuario)
                                                        @Html.ValidationMessageFor(model => model.Prontuario)
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Nome, new { @class = "control-label" })
                                                    <div class="controls">
                                                        @Html.EditorFor(model => model.Nome)
                                                        @Html.ValidationMessageFor(model => model.Nome)
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.DataNascimento, new { @class = "control-label" })
                                                    <div class="controls">
                                                        @Html.EditorFor(model => model.DataNascimento)
                                                        @Html.ValidationMessageFor(model => model.DataNascimento)
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.CEP, new { @class = "control-label" })
                                                    <div class="controls">
                                                        @Html.EditorFor(model => model.CEP)
                                                        @Html.ValidationMessageFor(model => model.CEP)
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Logradouro, new { @class = "control-label" })
                                                    <div class="controls">
                                                        @Html.EditorFor(model => model.Logradouro)
                                                        @Html.ValidationMessageFor(model => model.Logradouro)
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.NumeroLogradouro, new { @class = "control-label" })
                                                    <div class="controls">
                                                        @Html.EditorFor(model => model.NumeroLogradouro)
                                                        @Html.ValidationMessageFor(model => model.NumeroLogradouro)
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Bairro, new { @class = "control-label" })
                                                    <div class="controls">
                                                        @Html.EditorFor(model => model.Bairro)
                                                        @Html.ValidationMessageFor(model => model.Bairro)
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Cidade, new { @class = "control-label" })
                                                    <div class="controls">
                                                        @Html.EditorFor(model => model.Cidade)
                                                        @Html.ValidationMessageFor(model => model.Cidade)
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.UnidadeFederativa, new { @class = "control-label" })
                                                    <div class="controls">
                                                        @Html.EditorFor(model => model.UnidadeFederativa)
                                                        @Html.ValidationMessageFor(model => model.UnidadeFederativa)
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.TelefoneResidencia, new { @class = "control-label" })
                                                    <div class="controls">
                                                        @Html.EditorFor(model => model.TelefoneResidencia)
                                                        @Html.ValidationMessageFor(model => model.TelefoneResidencia)
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.TelefoneCelular, new { @class = "control-label" })
                                                    <div class="controls">
                                                        @Html.EditorFor(model => model.TelefoneCelular)
                                                        @Html.ValidationMessageFor(model => model.TelefoneCelular)
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.TelefoneComercial, new { @class = "control-label" })
                                                    <div class="controls">
                                                        @Html.EditorFor(model => model.TelefoneComercial)
                                                        @Html.ValidationMessageFor(model => model.TelefoneComercial)
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <div class="controls" style="margin-top:20px">
                                                        <div class="row">
                                                            <div class="col-md-1">
                                                                @Html.EditorFor(model => model.PacientePrecisaResponsavel)
                                                                @Html.ValidationMessageFor(model => model.PacientePrecisaResponsavel)
                                                                @*<input id="precisaResposavel" name="precisaResposavel" type="checkbox" class="checkbox">*@
                                                            </div>
                                                            <div class="col-md-11">
                                                                @Html.LabelFor(model => model.PacientePrecisaResponsavel, new { @class = "control-label" })

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.NomeResponsavel, new { @class = "control-label" })
                                                    <div class="controls">
                                                        @Html.EditorFor(model => model.NomeResponsavel)
                                                        @Html.ValidationMessageFor(model => model.NomeResponsavel)
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <a href="#faq-1-3" data-parent="#faq-list-1" data-toggle="collapse" class="accordion-toggle collapsed">
                                        <i class="icon-chevron-left pull-right" data-icon-hide="icon-chevron-down" data-icon-show="icon-chevron-left"></i>

                                        <i class="icon-credit-card bigger-130"></i>
                                        Dados Complementares
                                    </a>
                                </div>

                                <div class="panel-collapse collapse" id="faq-1-3">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.NomePai, new { @class = "control-label" })
                                                    <div class="controls">
                                                        @Html.EditorFor(model => model.NomePai)
                                                        @Html.ValidationMessageFor(model => model.NomePai)
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.NomeMae, new { @class = "control-label" })
                                                    <div class="controls">
                                                        @Html.EditorFor(model => model.NomeMae)
                                                        @Html.ValidationMessageFor(model => model.NomeMae)
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Sexo, new { @class = "control-label" })
                                                    <div class="controls" style="min-width: 150px;">
                                                        <select id="sexo" name="sexo" class="form-control">
                                                            @Html.EditorFor(model => model.NomeMae)
                                                            <option></option>
                                                            <option>Masculino</option>
                                                            <option>Feminino</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="control-label" for="estadocivil">
                                                        Estado Civil
                                                    </label>
                                                    <div class="controls">
                                                        <select id="estadocivil" name="estadocivil" class="form-control">
                                                            <option></option>
                                                            <option>Solteiro</option>
                                                            <option>Casado</option>
                                                            <option>Divorciado</option>
                                                            <option>Viúvo</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="control-label" for="escolaridade">
                                                        Escolaridade
                                                    </label>
                                                    <div class="controls">
                                                        <select id="escolaridade" name="escolaridade" class="form-control">
                                                            <option></option>
                                                            <option>Analfabeto</option>
                                                            <option>Ensino fundamental incompleto</option>
                                                            <option>Ensino fundamental completo</option>
                                                            <option>Ensino médio incompleto</option>
                                                            <option>Ensino médio completo</option>
                                                            <option>Ensino superior incompleto</option>
                                                            <option>Ensino superior completo</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="control-label" for="peso">
                                                        Peso
                                                    </label>
                                                    <div class="controls">
                                                        <input id="peso" name="peso" type="text" placeholder="Peso" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="control-label" for="altura">
                                                        Altura
                                                    </label>
                                                    <div class="controls">
                                                        <input id="altura" name="altura" type="text" placeholder="Altura" class=" form-control">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="control-label" for="profissao">
                                                        Profissão
                                                    </label>
                                                    <div class="controls">
                                                        <input id="profissao" name="profissao" type="text" placeholder="Profissão" class=" form-control">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="control-label" for="procendecia">
                                                        Procedência
                                                    </label>
                                                    <div class="controls">
                                                        <input id="procendecia" name="procendecia" type="text" placeholder="Procedência" class=" form-control">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="form-actions center" style="margin-top:10px;margin-bottom:0px">
                                <button type="button" class="btn btn-sm btn-success">
                                    Submit
                                    <i class="icon-arrow-right icon-on-right bigger-110"></i>
                                </button>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
        <!-- PAGE CONTENT ENDS -->
    </div><!-- /.col -->
</div>

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Paciente</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Prontuario, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Prontuario)
                @Html.ValidationMessageFor(model => model.Prontuario)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Nome, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nome)
                @Html.ValidationMessageFor(model => model.Nome)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DataNascimento, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DataNascimento)
                @Html.ValidationMessageFor(model => model.DataNascimento)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Logradouro, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Logradouro)
                @Html.ValidationMessageFor(model => model.Logradouro)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NumeroLogradouro, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NumeroLogradouro)
                @Html.ValidationMessageFor(model => model.NumeroLogradouro)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Bairro, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Bairro)
                @Html.ValidationMessageFor(model => model.Bairro)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TelefoneResidencia, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TelefoneResidencia)
                @Html.ValidationMessageFor(model => model.TelefoneResidencia)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TelefoneCelular, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TelefoneCelular)
                @Html.ValidationMessageFor(model => model.TelefoneCelular)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TelefoneComercial, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TelefoneComercial)
                @Html.ValidationMessageFor(model => model.TelefoneComercial)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EstadoCivil, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EstadoCivil)
                @Html.ValidationMessageFor(model => model.EstadoCivil)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Escolaridade, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Escolaridade)
                @Html.ValidationMessageFor(model => model.Escolaridade)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Profissao, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Profissao)
                @Html.ValidationMessageFor(model => model.Profissao)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Sexo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Sexo)
                @Html.ValidationMessageFor(model => model.Sexo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Altura, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Altura)
                @Html.ValidationMessageFor(model => model.Altura)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Peso, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Peso)
                @Html.ValidationMessageFor(model => model.Peso)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PacientePrecisaResponsavel, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PacientePrecisaResponsavel)
                @Html.ValidationMessageFor(model => model.PacientePrecisaResponsavel)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NomeResponsavel, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NomeResponsavel)
                @Html.ValidationMessageFor(model => model.NomeResponsavel)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NomeMae, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NomeMae)
                @Html.ValidationMessageFor(model => model.NomeMae)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NomePai, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NomePai)
                @Html.ValidationMessageFor(model => model.NomePai)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.VinculoPrevidenciario, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.VinculoPrevidenciario)
                @Html.ValidationMessageFor(model => model.VinculoPrevidenciario)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Procedencia, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Procedencia)
                @Html.ValidationMessageFor(model => model.Procedencia)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
