@model TCC_ACE.Paciente

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Paciente</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Prontuario, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Prontuario)
                @Html.ValidationMessageFor(model => model.Prontuario)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Nome, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nome)
                @Html.ValidationMessageFor(model => model.Nome)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DataNascimento, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DataNascimento)
                @Html.ValidationMessageFor(model => model.DataNascimento)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Logradouro, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Logradouro)
                @Html.ValidationMessageFor(model => model.Logradouro)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NumeroLogradouro, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NumeroLogradouro)
                @Html.ValidationMessageFor(model => model.NumeroLogradouro)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Bairro, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Bairro)
                @Html.ValidationMessageFor(model => model.Bairro)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TelefoneResidencia, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TelefoneResidencia)
                @Html.ValidationMessageFor(model => model.TelefoneResidencia)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TelefoneCelular, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TelefoneCelular)
                @Html.ValidationMessageFor(model => model.TelefoneCelular)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TelefoneComercial, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TelefoneComercial)
                @Html.ValidationMessageFor(model => model.TelefoneComercial)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EstadoCivil, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EstadoCivil)
                @Html.ValidationMessageFor(model => model.EstadoCivil)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Escolaridade, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Escolaridade)
                @Html.ValidationMessageFor(model => model.Escolaridade)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Profissao, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Profissao)
                @Html.ValidationMessageFor(model => model.Profissao)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Sexo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Sexo)
                @Html.ValidationMessageFor(model => model.Sexo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Altura, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Altura)
                @Html.ValidationMessageFor(model => model.Altura)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Peso, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Peso)
                @Html.ValidationMessageFor(model => model.Peso)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PacientePrecisaResponsavel, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PacientePrecisaResponsavel)
                @Html.ValidationMessageFor(model => model.PacientePrecisaResponsavel)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NomeResponsavel, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NomeResponsavel)
                @Html.ValidationMessageFor(model => model.NomeResponsavel)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NomeMae, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NomeMae)
                @Html.ValidationMessageFor(model => model.NomeMae)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NomePai, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NomePai)
                @Html.ValidationMessageFor(model => model.NomePai)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.VinculoPrevidenciario, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.VinculoPrevidenciario)
                @Html.ValidationMessageFor(model => model.VinculoPrevidenciario)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Procedencia, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Procedencia)
                @Html.ValidationMessageFor(model => model.Procedencia)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
